body {
    background-color: black;
    color: white;
  }
  
  header {
    display: grid;
    place-items: center;
    padding: 20px;
  }
  
  main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 20px;
  }
  
  section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    align-items: center;
    justify-items: center;
    text-align: center;
    padding: 20px;
  }
  
  section img {
    max-width: 100%;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  .homepage-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .homepage-link a {
    color: white;
    margin-left: 10px;
  }
  
  .material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-size: 24px;
    color: white;
  }
  