* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Inconsolata', monospace;
    font-size: 16px;
    line-height: 1.5;
    background-color: black;
    color: white;
  }
  
  .container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto auto auto;
    gap: 1rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
  }
  
  .bike-stations {
    grid-column: 1 / 13;
    margin-bottom: 1rem;
  }
  
  .bike-stations h2 {
    font-size: 4vw;
    text-align: center;
  }
  
  .bike-stations ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
  }
  
  .bike-stations li {
    margin-bottom: 0;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0.5rem;
  }
  
  .nyc-info {
    grid-column: 1 / 13;
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .nyc-info h2 {
    font-size: 4vw;
    margin-top: 2rem;
  }
  
  .nyc-info p {
    font-size: 2vw;
    margin: 0;
  }
  
  .nyc-info a {
    color: white;
  }
  
  .search-box {
    grid-column: 1 / 13;
    margin-bottom: 1rem;
  }
  
  .search-box label {
    font-size: 2vw;
  }
  
  .search-box input[type="text"] {
    font-size: 2vw;
    padding: 0.5rem;
    width: 75%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
  }
  
  .search-box button {
    font-size: 2vw;
    padding: 0.5rem 1rem;
    background-color: white;
    color: black;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
  }
  
  .instructions {
    grid-column: 1 / 13;
    margin-bottom: 1rem;
  }
  
  .instructions p {
    font-size: 2vw;
  }
  
  .homepage-link {
    grid-column: 1 / 13;
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .material-symbols-outlined {
    font-family: 'Material Symbols Outlined', sans-serif;
    font-size: 4vw;
    color: white;
    margin-right: 0.5rem;
  }
  .search-box button {
    margin: 0 auto;
    display: block;
    }  


