
body {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
  }
  

  main {
    max-width: 800px;
    margin: 120 auto;
    padding: 120px;
    background-color: black
  }
  



  Copy code
  .nyc-photo {
    max-width: 100%; /* Set the maximum width of the container to 100% */
    height: auto; /* Let the height of the container adjust automatically */
  }
  
  .main-photo {
    max-width: 165%; /* Set the maximum width of the image to 100% */
    height: auto; /* Let the height of the image adjust automatically */
  }




  ul, li {
    list-style-type: none;
  }
  
  title {
    font-family: 'Anton', sans-serif;
  }

  .my-name{
    font-family: 'Delicious Handrawn', cursive;
  }

.back-home-link-font {
    font-family: 'Anton', sans-serif;  
}



.about-me-body {
  background-color: black;
  color: white;
}



.top-header-bar {
  align-items: center;
  border: 2px solid whitesmoke;
  /* border-bottom: 2px solid black; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 99%;
  }
  
  .top-header-bar > li {
  /* border: 2px solid black; */
  font-size: 1.4em;
  margin-left: 16px;
  margin-right: 16px;
  padding: 16px;
  cursor: pointer;
  }
  
  .top-header-bar > li:hover{
      color: goldenrod;
      font-size: 16px
  }

  .subpage > h1 {
    font-family: 'Shantell Sans', cursive;
}


.subpage {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.subpage > img {
    width: 40%;
}

.subpage p {
    width: 40%;
}

.invisible{
    display: none;
}