
@media (max-width: 768px) {
  /* Use smaller image for smaller screens */
  body {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
}

/* Center the main photo and limit its size */
.nyc-photo {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.main-photo {
  max-width: 80%;
  height: auto;
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75); /* Add box shadow */
}

@media (max-width: 768px) {
  /* Use smaller image for smaller screens */
  .main-photo {

    max-width: 80%;
    height: auto;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75); /* Add box shadow */
  }
}


/* Style header and top navigation bar */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.my-name {
  font-size: 100px;
  position: relative;
  z-index: 1;
}

.title {
  font-size: 85px;
  font-family: 'Shadows Into Light', cursive;
  margin-top: -145px;
  margin-bottom: -20px;
  color: white;
  text-shadow: 0px 0px 20px rgba(255,255,255,0.9), 0px 0px 30px rgba(255,255,255,0.7), 0px 0px 40px rgba(255,255,255,0.5), 0px 0px 50px rgba(255,255,255,0.3);
  position: relative;
  z-index: 2;
}

.top-header-bar {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  padding-top: 100px;
}

.top-header-bar li {
  list-style: none;
  margin: 0px 10px;
  display: inline-block;
  margin-right: 20px;
  position: relative;
  perspective: 1000px;
}

.top-header-bar a {
  text-decoration: none;
  color: white;
  font-family: 'Material Symbols Outlined', sans-serif;
  font-size: 21px;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: rgba(0,0,0,0.5);
  display: block;
  padding: 10px 20px;
  transition: all 0.3s ease;
  transform-origin: center center;
}

@media (max-width: 768px) {
  .top-header-bar a {
    font-size: 18px;
    padding: 5px;
  }
}

.citibike-link{
  font-family: 'Material Symbols Outlined', sans-serif;
}

.top-header-bar a:hover {
  background-color: rgba(0,0,0,0.7);
  transform: scale(1.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}



.top-header-bar li:hover::before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  background: rgba(0, 0, 0, 0.2);
  transform: rotateX(20deg) rotateY(-10deg) translateZ(-20px);
  opacity: 0.6;
}

.top-header-bar li a {
  color: #333;
}


/* Style footer */
footer {
  text-align: center;
  margin-top: 50px;
}

.index2-link {
  margin-top: 20px;
}




ul li {
  list-style: none;
}

.citibike-link a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: rgba(0,0,0,0.5);
  box-shadow: 0px 0px 10px 2px rgba(255,255,255,0.75); /* Add lighter box shadow */
  transform: translateZ(0); /* Add initial transform */
  transition: transform 0.3s ease-in-out; /* Add transition effect */
}

.citibike-link a:hover {
  background-color: rgba(0,0,0,0.7);
  transform: translateZ(10px); /* Move link towards user on hover */
  box-shadow: 0px 0px 10px 2px rgba(255,255,255,1); /* Increase box shadow on hover */
}

.Citibike-intro {
  text-align: center;
}