body {
    background-color: royalblue;
    font-family: Arial, sans-serif;
    color: white;
  }
  
  .name-header {
    background-image: url('https://new.mta.info/sites/default/files/2021-10/Screen%20Shot%202021-10-19%20at%202.14.23%20PM.png');
    background-size: cover;
    text-align: center;
    padding: 100px 0;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 3rem;
    color: orange;
    text-shadow: 8px 8px black;
    -webkit-text-stroke: 2.5px black;
  }
  
  

  
  .job-box1, .job-box2, .job-box3, .job-box4, .job-box5, .job-box6, .job-box7  {
    width: calc(25% - 20px);
    margin: 10px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 4 4 18px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
  }
  
  .job-box1:hover, .job-box2:hover, .job-box3:hover, .job-box4:hover, .job-box5:hover, .job-box6:hover, .job-box7:hover {
    background-color: orange;
  }
  
  .job-box1:hover h3, .job-box2:hover h3, .job-box3:hover h3, .job-box4:hover h3, .job-box1:hover h5, .job-box2:hover h5, .job-box3:hover h5, .job-box4:hover h5, .job-box5:hover h5, .job-box5:hover h3, .job-box6:hover h5, .job-box6:hover h3, .job-box7:hover h5, .job-box7:hover h3 {
    color: white;
  }
  
  .job-box1 h3, .job-box2 h3, .job-box3 h3, .job-box4 h3, .job-box1 h5, .job-box2 h5, .job-box3 h5, .job-box4 h5, .job-box5 h5, .job-box5 h3, .job-box6 h5, .job-box6 h3, .job-box7 h5, .job-box7 h3 {
    color: orange;
  }
  
  .job-box1 p, .job-box2 p, .job-box3 p, .job-box4 p, .job-box5 p, .job-box6 p, .job-box7 p, .job-box1 ul, .job-box2 ul, .job-box3 ul, .job-box4 ul, .job-box5 ul, .job-box6 ul, .job-box7 ul {
    color: black;
    list-style: none;
  }
  
 /* Overall styles for the bottom-third-container */
.bottom-third-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    padding: 40px;
    background-color: #1c1c1c;
    color: white;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
  }
  
  /* Styles for the education box */
  .education-box {
    margin-right: 20px;
    flex-grow: 1;
  }
  
  .education-box h4 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #f9a602;
  }
  
  .education-box ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .education-box li {
    margin-bottom: 20px;
  }
  
  .education-box p {
    margin: 0;
  }
  
  /* Styles for the internship box */
  .internship-box {
    flex-grow: 1;
  }
  
  .internship-box h4 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #0072c6;
  }
  
  .internship-box h5 {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #f9a602;
  }
  
  .internship-box p {
    margin-top: 0;
  }
  
  .internship-box ul {
    margin: 0;
    padding: 0;
  }
  
  .internship-box li {
    margin-bottom: 10px;
  }
  
  /* Styles for the skills box */
  .skills-box {
    margin-left: 20px;
    flex-grow: 1;
  }
  
  .skills-box h4 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #0072c6;
  }
  
  .skills-box ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .skills-box li {
    margin-bottom: 10px;
  }
  
  /* 3D effect for the boxes */
  .bottom-third-container > div {
    transition: transform 0.5s;
  }
  
  .bottom-third-container > div:hover {
    transform: translateY(-10px);
  }
  
  .hompage-link a {
    display: inline-block;
    padding: 10px 20px;
    color: orange;
    text-decoration: none;
    border: 2px solid #0072c6;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
    transition: all 0.3s ease-in-out;
  }
  
  .hompage-link a:hover {
    color: #fff;
    background-color: black;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    text-shadow: none;
  }
  
  /* Override default link styles */
  a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .work-experience-title h2 {
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    color: #fff; /* white text color */
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /* black shadow */

  }
  
  .work-experience-title h2:hover {
    transform: translateY(-5px);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }

  .all-job-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    padding: 100px;
  }
  
  .all-job-container > * {
    flex-basis: calc(50.33% - 120px);
    margin-bottom: 10px;
    box-sizing: border-box;
    padding: 10px;
  }

  @media only screen and (max-width: 768px) {
    /* Styles for smaller screens */
    .name-header {
      font-size: 2rem;
    }
    .job-box1, .job-box2, .job-box3, .job-box4, .job-box5, .job-box6, .job-box7 {
      width: calc(50% - 20px);
    }
    .bottom-third-container {
      flex-direction: column;
      padding: 20px;
    }
    .education-box, .internship-box, .skills-box {
      margin: 0 0 20px 0;
    }
  }
  

  .top-part-reactive {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .top-part-reactive header {
    margin-bottom: 20px;
  }
  
  .top-part-reactive .my-name {
    font-size: 3rem;
    margin-bottom: 10px;
  }
  
  .top-part-reactive .title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .top-header-bar {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .top-header-bar li {
    margin-right: 10px;
  }
  
  .top-header-bar li:last-child {
    margin-right: 0;
  }
  
  .top-header-bar a {
    color: #fff;
    background-color: #333;
    padding: 10px;
    text-decoration: none;
  }
  
  @media only screen and (max-width: 768px) {
    .top-part-reactive {
      height: auto;
      padding: 20px;
    }
  
    .top-part-reactive .my-name {
      font-size: 2rem;
    }
    
    .top-part-reactive .title {
      font-size: 1.5rem;
      margin-bottom: 10px;
    }
  
    .top-header-bar {
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .top-header-bar li {
      margin: 5px;
    }
  }
  

