ul, li {
    list-style-type: none;
  }
  
  title {
    font-family: 'Anton', sans-serif;
  }

  .my-name{
    font-family: 'Delicious Handrawn', cursive;
  }

.back-home-link-font {
    font-family: 'Anton', sans-serif;  
}

#searchResults{
border: 3px solid red;
}


.about-me-body {
  background-color: black;
  color: white;
}


body {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Noto Serif', serif;

  background-color: black;
  color: white
}





.top-header-bar {
  align-items: center;
  border: 2px solid whitesmoke;
  /* border-bottom: 2px solid black; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 99%;
  }
  
  .top-header-bar > li {
  /* border: 2px solid black; */
  font-size: 1.4em;
  margin-left: 16px;
  margin-right: 16px;
  padding: 16px;
  cursor: pointer;
  }
  
  .top-header-bar > li:hover{
      color: goldenrod;
      font-size: 16px
  }

  .subpage > h1 {
    font-family: 'Shantell Sans', cursive;
}


.subpage {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.subpage > img {
    width: 40%;
}

.subpage p {
    width: 40%;
}

.invisible{
    display: none;
}