ul, li {
    list-style-type: none;
  }
  
  title {
    font-family: 'Anton', sans-serif;
  }

  .my-name{
    font-family: 'Delicious Handrawn', cursive;
  }

.back-home-link-font {
    font-family: 'Anton', sans-serif;  
}

#searchResults{
border: 3px solid red;
}



body {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Noto Serif', serif;

  background-color: black;
  color: white
}





.top-header-bar {
  align-items: center;
  border: 2px solid whitesmoke;
  /* border-bottom: 2px solid black; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 99%;
  }
  
  .top-header-bar > li {
  /* border: 2px solid black; */
  font-size: 1.4em;
  margin-left: 16px;
  margin-right: 16px;
  padding: 16px;
  cursor: pointer;
  }
  
  .top-header-bar > li:hover{
      color: goldenrod;
      font-size: 16px
  }

  .subpage > h1 {
    font-family: 'Shantell Sans', cursive;
}


.subpage {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.subpage > img {
    width: 40%;
}

.subpage p {
    width: 40%;
}

.invisible{
    display: none;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inconsolata', monospace;
  font-size: 16px;
  line-height: 1.5;
  background-color: black;
  color: white;
}

header {
  text-align: center;
  margin: 1rem;
}

main {
  margin: 1rem;
}

section {
  margin-bottom: 2rem;
}

h1, h2, h3 {
  font-size: 2rem;
  margin-top: 0;
}

p {
  font-size: 1.2rem;
  line-height: 1.5;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.homepage-link {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-size: 2rem;
  margin-right: 1rem;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 18px;
  }

  header {
    margin: 2rem;
  }

  main {
    margin: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  section {
    margin-bottom: 4rem;
  }

  #introduction img,
  #tech-passion img,
  #new-york img,
  #recommendations img {
    margin-top: 2rem;
  }

  #recommendations ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #recommendations li {
    width: calc(33.33% - 1rem);
  }
}
